<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>User</title>
</h:head>

<h:body>

	<p:panelGrid columns="3" style="float: right">
		<p:link value="Main Page" href="/" rendered="#{loginController.user.hasRole('ROLE_USR')}"/>
		<p:link value="Users" outcome="user" rendered="#{loginController.user.hasRole('ROLE_ADM')}"/>
		<p:link value="Logout" href="/j_spring_security_logout"/>
	</p:panelGrid>
<br/>
<br/>
	<h:form id="frmUser" >
		<p:messages id="messages" showDetail="true" autoUpdate="true" />
		<p:panel header="Adicionar novo usuário" >
			<p:panelGrid columns="2" >
			
				<p:panelGrid columns="2">
					<p:outputLabel for="user" value="Username: " />
					<p:inputText id="user" value="#{userController.user.name}" required="true" />
					<p:outputLabel for="p1" value="Password: " />				
					<p:password id="p1" match="p2" required="true"/>
					<p:outputLabel for="p2" value="Password" />
					<p:password id="p2"  value="#{userController.user.password}" required="true" />			
				</p:panelGrid>
				
				
				<p:panel id="ck_roles">					
					<p:selectManyCheckbox id="roles" value="#{userController.selectedRoles}" layout="pageDirection">  
						<f:selectItems value="#{userController.getAuthorities()}" var = "authority" itemValue="#{authority.role}"  itemLabel="#{authority.role}" />
					</p:selectManyCheckbox>				
				</p:panel>
									
				<h:outputText/>
				<p:commandButton value="Add User" action="#{userController.addNewUser}"  update="frmUser"  type="submit()"/>	
			</p:panelGrid>
			
		</p:panel>
	</h:form>	

</h:body>
</html>