<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	
	<!-- <script
		src="#{facesContext.externalContext.requestContextPath}/js/highcharts/jquery-1.8.3.js"
		type="text/javascript"></script> -->
	<script
		src="#{facesContext.externalContext.requestContextPath}/js/highcharts/highcharts.js"
		type="text/javascript"></script>
	<script
		src="#{facesContext.externalContext.requestContextPath}/js/highcharts/highcharts-more.js"
		type="text/javascript"></script>

	<script
		src="#{facesContext.externalContext.requestContextPath}/js/highcharts/highcharts-3d.js"
		type="text/javascript"></script>

	<script
		src="#{facesContext.externalContext.requestContextPath}/js/highcharts/exporting.js"
		type="text/javascript"></script>
		
		<script
		src="#{facesContext.externalContext.requestContextPath}/js/showChart.js"
		type="text/javascript"></script>
	<title>Gráfico</title>
</h:head>
<h:body>

	<h:form rendered="#{loginController.user.hasRole('ROLE_ADM')}">
		<p:fileUpload
			fileUploadListener="#{uploadController.handleFileUpload}"
			mode="advanced" dragDropSupport="false" update="messages"
			sizeLimit="100000000" fileLimit="1" allowTypes="/(\.|\/)(xls|xlsm)$/" />

		<p:growl id="messages" showDetail="true" />
	</h:form>
	<p:separator rendered="#{loginController.user.hasRole('ROLE_ADM')}" />

	<h:form>
		<p:selectOneMenu disabled="false" onchange="submit()"
			valueChangeListener="#{pointController.valueChangeTitleCB}">
			<f:selectItem itemLabel="--Selecione--" noSelectionOption="false" />
			<f:selectItems value="#{pointController.titles}" var="t"
				itemValue="#{t}" itemLabel="#{t}" />
		</p:selectOneMenu>
	</h:form>


	<p:panel header="" toggleable="true" closable="false"
		widgetVar="graphPanel">
		<div id="container" class="container"></div>
	</p:panel>




</h:body>
</html>