<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:sec="http://www.springframework.org/security/tags" lang="en">

<h:head>

	<!-- <script
		src="#{facesContext.externalContext.requestContextPath}/js/highcharts/jquery-1.8.3.js"
		type="text/javascript"></script> -->
	<script
		src="#{facesContext.externalContext.requestContextPath}/js/highcharts/highcharts.js"
		type="text/javascript"></script>
	<script
		src="#{facesContext.externalContext.requestContextPath}/js/highcharts/highcharts-more.js"
		type="text/javascript"></script>

	<script
		src="#{facesContext.externalContext.requestContextPath}/js/highcharts/highcharts-3d.js"
		type="text/javascript"></script>

	<script
		src="#{facesContext.externalContext.requestContextPath}/js/highcharts/exporting.js"
		type="text/javascript"></script>

	<script
		src="#{facesContext.externalContext.requestContextPath}/js/showChart.js"
		type="text/javascript"></script>
	<title>Gráfico</title>
</h:head>



<h:body lang="EN">
	<p:panelGrid columns="2" style="float: right">
		<p:link value="Users" outcome="user" rendered="#{loginController.user.hasRole('ROLE_ADM')}"/>
		<p:link value="Logout" href="/j_spring_security_logout"/>
	</p:panelGrid>


	<h:form enctype="multipart/form-data"
		rendered="#{loginController.user.hasRole('ROLE_ADM')}">
		<p:growl id="messages" showDetail="true" />

		<p:fileUpload value="#{uploadController.file}" mode="simple"
			disabled="false"  lang="EN"/>

		<p:commandButton value="Submit" ajax="false" process="@form"
			actionListener="#{uploadController.upload}" disabled="false"
			update=":form:cbxChart" oncomplete="cbxChart.hide();" />
	</h:form>

	<p:separator rendered="#{loginController.user.hasRole('ROLE_ADM')}" />

	<h:form>
		<p:selectOneMenu id="cbxChart" widgetVar="cbxChart" onchange="submit()" valueChangeListener="#{pointController.valueChangeTitleCB}">
			<f:selectItem itemLabel="--Choose--" noSelectionOption="false" />
			<f:selectItems value="#{pointController.titles}" var="t"
				itemValue="#{t}" itemLabel="#{t}" />
		</p:selectOneMenu>
	</h:form>
	
	<p:panel header="" toggleable="true" closable="false"
		widgetVar="graphPanel">
		<div id="container" class="container"></div>
	</p:panel>
</h:body>
</html>