<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Welcome</title>
</h:head>

<h:body>
	<p:panelGrid columns="6">
		<p:link value="Tela de Upload File" outcome="uploadfile" />
		<p:link value="Show Points" outcome="showPoints" />
		<p:link value="Tela de Login" outcome="login" />
		<p:link value="Gráfico" outcome="grafico" />
		<p:link value="Gerenciar Usuários" outcome="user" />		
		<p:button value="Logout"  href="/j_spring_security_logout"/>
	</p:panelGrid>



	<h:form id="formlogin">
		<p:panel id="panel1" header="Form">

			<p:panelGrid id="panelLogin" columns="2">
				<h:outputLabel for="username" value="Nome de usuário: " />
				<p:inputText id="username" required="true"
					value="#{welcomeController.username}" />


				<h:outputLabel for="password" value="Senha do usuário: " />
				<p:password id="password" required="true"
					value="#{welcomeController.password}" />
			</p:panelGrid>
		</p:panel>
		<p:commandButton value="Save" action="#{welcomeController.save}" />
	</h:form>


	<h:form>
		<p:panel id="panel" header="Form" style="margin-bottom:10px;">
			<p:messages id="messages" />
			<h:panelGrid columns="2" cellpadding="5">
				<h:outputLabel for="name" value="Standard Label:" />
				<p:inputText id="name" required="true" />

				<p:outputLabel for="extended" value="Extended Label:" />
				<p:inputText id="extended" required="true" />

				<p:outputLabel for="number" value="Number:" />
				<p:spinner id="number" value="0" />
			</h:panelGrid>
		</p:panel>

		<p:commandButton value="Submit" update="panel" />
	</h:form>



	-----------------------
		<h:form>
		<p:fileUpload
			fileUploadListener="#{uploadController.handleFileUpload}"
			mode="advanced" dragDropSupport="false" update="messages"
			sizeLimit="10000000" fileLimit="1" allowTypes="/(\.|\/)(xls|xlsm)$/" />

		<p:growl id="messages" showDetail="true" />
	</h:form>



</h:body>
</html>