<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>Log in</title>
</h:head>
<h:body>

	<p:dialog draggable="true" width="400" minHeight="100" header="Login" visible="true" closable="false" modal="true">
			<p:growl id="messages" showDetail="true" />
			<form action="j_spring_security_check" method="post">
				<p:panelGrid columns="2" cellpadding="5">
					<p:outputLabel for="j_username" value="Username: " />
					<p:inputText id="j_username" required="true" />
					<p:outputLabel for="j_password" value="Password: " />
					<p:password id="j_password" required="true" />

					<h:outputText />
					<!-- 				<p:commandButton value="Login" action="j_spring_security_check" /> -->

					<button type="submit"
						class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
						name="j_idt15" id="j_idt15" role="button" aria-disabled="false">
						<span class="ui-button-text ui-c">Login</span>
					</button>

				</p:panelGrid>
			</form>
	</p:dialog>
</h:body>
</html>