<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Show Points</title>
</h:head>
<h:body>
	<p:dataTable value="#{pointController.titles}" var="title" rows="10"
		paginator="true">
		<p:column headerText="Title">
			<h:outputText value="#{title}" />
		</p:column>
	</p:dataTable>


	<p:separator />

	<h:form>
		<p:dataTable value="#{pointController.points}" var="point" rows="200"
			paginator="true">

			<p:column headerText="Title">
				<h:outputText value="#{point.title}" />
			</p:column>

			<p:column headerText="Date" sortBy="#{point.x}">
				<h:outputText value="#{point.x}" />
			</p:column>

			<p:column headerText="H">
				<h:outputText value="#{point.h}" />
			</p:column>

			<p:column headerText="I">
				<h:outputText value="#{point.i}" />
			</p:column>
		</p:dataTable>
	</h:form>
</h:body>
</html>