<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:sec="http://www.springframework.org/security/"
	>
<h:head>
	<title>Upload File</title>
</h:head>
<h:body>



		<h:form enctype="multipart/form-data"
			rendered="#{loginController.user.hasRole('ROLE_ADM')}">
			<p:growl id="messages" showDetail="true" />

			<p:fileUpload value="#{uploadController.file}" mode="simple"
				disabled="false" />

			<p:commandButton value="Submit" ajax="false" process="@form"
				actionListener="#{uploadController.upload}" disabled="false" />
		</h:form>

	#{loginController.user.imprimir()}
</h:body>
</html>