<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>User</title>
</h:head>

<h:body>

	<p:panelGrid columns="2" style="float: right">
		<p:link value="Main Page" href="/" rendered="#{loginController.user.hasRole('ROLE_USR')}"/>
		<p:link value="Logout" href="/j_spring_security_logout"/>
	</p:panelGrid>

	
	<br/>
	<p:panelGrid columns="1">
		<p:link value="Add New User" outcome="addUser" rendered="#{loginController.user.hasRole('ROLE_ADM')}" />
	</p:panelGrid>

	<p:separator/>
	
	<p:dataTable value="#{userController.getUsers()}" var="user" id="users" rows="200"
			paginator="false">
				<p:column headerText="Username">
					<h:outputText value="#{user.name}" />
				</p:column>
	</p:dataTable>
	<p:separator/>

</h:body>
</html>